.container {
  padding: 15px;
  display: block;
}

.heading {
  margin-bottom: 10px;
  text-align: center;
}

.linkBtn {
  display: block;
  margin-top: 10px;
  text-align: center;
  text-decoration: underline;
}
