.die {
  background-color: whitesmoke;
  border-radius: 10%;
  width: 50px;
  height: 50px;
  cursor: pointer;

  margin-top: 10px;
}

.rotate {
  animation-name: rotating;
  animation-duration: 2s;
}

@keyframes rotating {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(720deg);
  }
}

.side {
  opacity: 0;
  transition: opacity 60ms linear;
}

.activeSide {
  opacity: 1;
}
